ul.svelte-muvav9{padding-left:20px;list-style-type:upper-roman}.short_info.svelte-muvav9{text-align:left;padding-left:0px

        }.grid-item-content.svelte-1qrh1u5{padding-top:200px;padding-left:350px;padding-right:350px;display:flexbox;margin-right:0px;grid-column:auto;grid-row:auto}