h1 {
    font-size: 1.2rem;
    display:inline-block;
    padding-left: 10px;
    padding-top: 25px;
    padding-bottom: 20px;
    text-align: left;
}

    .backery_form{

        background-color:floralwhite;
        transition: background-color 300ms ease;
        min-height: 100%;
        margin: 0;
        width: 100%;
    }

    .backery_filling {
        background-color:floralwhite;
        margin: 10px;
        height: 0px;
        bottom: 50px;
    }

    .internal_links{

        color: black; 
        text-decoration: none; 
        padding-left: 10pt; 
        display: inline-flexbox;
    
    }

    .href_links{
        color:darkorange; 
        text-decoration:overline;
        margin-block-end: 6px;
    }

    .container{
        display: grid;
       /* grid-template-columns:max-content;*/
        grid-template-rows: max-content;
        /* grid-template-areas:none; */
        grid-template: auto;
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        grid-gap:0px;
        justify-items:auto;
        /* align-items:baseline;
        place-items:calc();
        justify-content:baseline;
        align-content:baseline;
        place-content:calc(); */
        grid-auto-columns:auto;
        grid-auto-rows:auto;
        /* grid-auto-flow:column; */
        grid:0px;
    }

    .grid-item4{
        grid-column:auto;
        grid-row:auto;
    }

  